
@media only screen and (min-width: 480px){
    [class*="__container"]{
        max-width: 480px;
    }
    .main {
		&__baner,
		section{
			margin: 0 0 50px 0;
		}
    }    
    .atmosphere {
        padding-block: 30px 0px;
        &__container{
            column-gap: 0;
        }
        &__first{
            flex: 1 0 199px;
            .content{
                &__text{
                    font-size: 8px;
                    line-height: 112.5%; /* 9/8 */
                    max-width: 167px;
                }
            }
        }
        &__second {
            flex: 1 0 309px;
            height: 309px;
        }
        & .img.img--360{
            display: none;
            height: 100%;
        }
        & .img.img--480{
            display: block;
        }
        & .img{
            height: 100%;
        }
        & .btn{
            width: 91px;
            height: 34px;
        }
    }
    .content {
        &__title:not(:last-child) {
            padding-bottom: 20px;
        }
    }
    .content.content--siry {
        .content__text{
            font-size: 10px;
        }
    }

    .about {
        padding-block: 50px;
        &__container {
            display: grid;
            grid-template: 1fr / 1fr 271px;
            column-gap: 25px;
            align-items: center;
        }
        &__first {
            padding-bottom: 18px;
        }
        &__second.about__second--candle {
            .img.img--480{
                display: block;
            }
        }
        &__second::after{
            
        }
    }
    [class*="__second--candle"]{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $bєzh1;
        padding-bottom: 50px;
    }
    [class*="__second--candle"]::after{
        content: url(../img/icons/candle.png);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 24px;
        height: 33px;
        object-fit: cover;
        transform: translate(0%, 38%);
    }
    [class*="__second--candle-b"]::after{
        content: url(../img/icons/candle-b.png);
    }

    .goods {
            &__container {
            }
            &__first {
                .content{
                    &__text{
                        max-width: 235px;
                        font-size: 8px;
                        line-height: 112.5%; /* 9/8 */
                    }
                }
            }
            &__second {
                .cards {
                    display: grid;
                    grid-template: 1fr / repeat(2, 1fr);
                    row-gap: 40px;
                    justify-content: space-between;
                    margin: 0 auto;
                    &__item {
                        display: grid;
                        grid-template: 177px 1fr 30px / 1fr;
                        row-gap: 8px;
                        align-items: center;
                        .content{
                            &__price{
                                margin: 0 0 5px 0;
                            }
                            &__title{
                                font-size: 10px;
                                line-height: 120%; /* 12/10 */
                            }
                            &__text{
                                max-width: 150px;
                                font-size: 6px;
                                line-height: 116.666667%; /* 7/6 */
                            }
                        }
                        .img{
                            height: 100%;
                            width: 142px;
                            margin: 0 auto;
                        }
                        .btn{
                            height: 100%;
                            width: 78px;
                            margin: 0 auto;
                            font-size: 8px;
                            line-height: 112.5%; /* 9/8 */
                        }
                    }
                }
            
            }
    }
    .cards {
        &__item {
            .content{
                &__price{
                }
                &__title{
                }
                &__text{
                }
            }
            .img{
            }
            .btn{
            }
        }
    }
    .stages {
            &__container {
            }
            &__first {
                .content{
                    &__text{
                        font-size: 8px;
                        line-height: 112.5%; /* 9/8 */
                        max-width: 204px;
                    }
                }
            }
            &__second {
                .cards{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    row-gap: 20px;
                    column-gap: 24px;
                    &__item{
                        flex: 0 0 155px;
                        display: flex;
                        .section{
                            display: flex;
                            column-gap: 18px;
                            &__first{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                            }
                            &__second{
                                flex: 0 0 66px;
                                height: 100px;
                                .img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .section {
                                &__first {
                                    .content{
                                        padding: 0 0 10px 0;
                                        &__text{
                                            font-size: 6px;
                                            line-height: 116.666667%; /* 7/6 */
                                            text-align: left;
                                        }
                                    }
                                }
                                &__second {
                                }
                        }
                    }
                    &__item:nth-child(4n+3) .section,
                    &__item:nth-child(4n+4) .section
                    {
                        flex-direction: row-reverse;
                        .number{
                            text-align: right;
                        }
                    }
                }
            }
    }
    .number {
        font-family: $second-family;
        font-size: 12px;
        line-height: 116.666667%; /* 14/12 */
        color: $bєzh;
    }
    .cources {
            &__container {
            }
            &__first {
                .content{
                    &__text{
                        max-width: 205px;
                    }
                }
            }
            &__second {
                .cards {
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 34px;
                    &__item {
                        max-width: 255px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 25px;
                        align-items: center;
                        .content{
                            row-gap: 15px;
                            &__title{
                                padding: 0;
                                font-size: 12px;
                                line-height: 116.666667%; /* 14/12 */
                            }
                            &__text{
                            }
                        }
                        .img{
                            height: 345px;
                            width: 255px;
                            span{
                                font-family: $second-family;
                                position: absolute;
                                background: $bєzh;
                                color: #fff;
                                font-size: 10px;
                                line-height: 110%; /* 11/10 */
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            span:nth-child(2){
                                top: 45.355191%; /* 166/366 */
                                left: 0;
                                height: 11.748634%; /* 43/366 */
                                width: 71.268657%; /* 191/268 */
                            }
                            span:nth-child(3){
                                top: 61.202186%; /* 224/366 */
                                left: 0;
                                height: 7.377049%; /* 27/366 */
                                width: 48.134328%; /* 129/268 */
                            }
                            span:nth-child(4){
                                bottom: -3.551913%; /* -13/366 */
                                right: -5.223881%; /* -14/268 */
                                height: 13.661202%; /* 50/366 */
                                width: 32.089552%; /* 86/268 */
                            }
                        }
                        .btn{
                            width: 115px;
                            height: 39px;
                            font-size: 12px;
                            line-height: 108.333333%; /* 13/12 */
                        }
                    }
                }
            }
    }
    .teachers {
        background: $bєzh2;
        padding-block: 50px;
        &__container {
        }
        &__first {
            .content{	
                color: $sіriy;
                &__title{
                    color: $sіriy;
                }
                &__text{
                    max-width: 200px;
                }
            }
        }
            &__second {
                width: 100%;
                .cards {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    align-items: flex-start;
                    &__item {
                        .img{
                            width: 204px;
                            height: 220px;
                            .content{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                top: 64.545455%; /* 142/220 */
                                right: -27.45098%; /* 56/204 */
                                height: 31.818182%; /* 70/220 */
                                width: 74.509804%; /* 152/204 */
                                background: $bєzh1;
                                &__title{
                                    color: $sіriy;
                                    padding: 0;
                                    font-size: 11px;
                                    line-height: 145.454545%; /* 16/11 */
                                }
                                &__text{
                                    color: $sіriy;

                                }
                            }
                        }
                    }
                }
            }
    }
    .content--dark {
    }
    .testimonials {
        &__container {
        }
        &__first {
            .content{
                &__text{
                    max-width: 300px;
                }
            }
        }
        &__second {
            .slider {
                --slide-width: 250px;
                &__window{
                    width: var(--slide-width);
                }
                &__slide {
                    row-gap: 20px;
                    flex: 0 0 var(--slide-width);
                    .content {
                        align-items: center;
                        row-gap: 10px;
                        .img {
                            width: 100%;
                            aspect-ratio: 1;
                        }
                        >.img::after{
                            content: url(../img/icons/video.svg);
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);							width: 50px;
                            aspect-ratio: 1;
                        }
                        &__social .img{
                            width: 15px;
                        }
                        &__title {
                            padding: 0;
                        }
                        &__text {
                        }
                    }
                }
                &__nav {
                    max-width: 125px;
                    margin: 0 auto;
                }
                &__button{
                    width: 31px;
                }
            }
            .social {
            }
            .social--instagramm {
            }
            .btn {
                width: 124px;
                height: 39px;
                    &__text {
                    }
            }
        }
    }

    // Slider
    $slides-count: 12;
    .slider {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        &__window{
            max-width: 1000px;
            overflow: hidden;
            margin: 0 auto;
        }
        &__slides {
            display: flex;
            flex-flow: row nowrap;
            transition: transform 0.5s ease-in-out;
        }
        &__slide {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__nav {
            display: flex;
            flex-flow: row nowrap;
            column-gap: 3px;
            margin: 0 auto;
        }
        &__button{
            width: 31px;
            height: 10px;
            background-color: transparent;
            border-top: 4px $bєzh solid;
            cursor: pointer;
            input{
                opacity: 0;
                visibility: visible;
            }
        }
        &__button:has(input:checked){
            border-top: 4px $bєzh1 solid;
        }
        @for $i from 1 through $slides-count {
            &:has(.slider__button:nth-child(#{$i}) input:checked) .slider__slides{
                transform: translateX(calc( var(--slide-width) * (-#{$i} + 1)));
            }
        }	
    }


    .social{
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        transition: transform .3s;
        &.social--instagramm {
            content: url(../img/icons/instagramm.svg);
        }
        &.social--faceboock {
            content: url(../img/icons/faceboock.svg);
        }
        &.social--linkedin {
            content: url(../img/icons/linkedin.svg);
        }
        &.social--youtube {
            content: url(../img/icons/youtube.svg);
        }
        &:hover{
            transform: scale(1.2) rotate(-15deg);
        }
    }

    .certificates {
            &__container {
            }
            &__first {
                .content{
                    &__text{
                        max-width: 194px;
                    }
                }
            }
            &__second {
                .slider{
                    --slide-width: 200px;
                    &__window{
                        width: var(--slide-width);
                    }
                    &__slide{
                        flex: 0 0 var(--slide-width);
                        height: 128px;
                        .img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
    }
    .questions {
        &__container {
        }
        &__first {
        }
        &__second {
            .list {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                flex-direction: column-reverse;
                &__item {
                    position: relative;
                    background-color: #fff;
                    box-shadow: 0px 4px 11px 0px rgba(196, 174, 151, 0.20);
                    width: 340px;
                    height: 30px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-inline: 6px 30px;
                }
                .content {
                    &__title {
                        width: 100%;
                        height: 100%;
                        color: $chorniy;
                        font-size: 10px;
                        line-height: 120%; /* 12/10 */
                        text-align: left;
                        padding: 0;
                    }
                    &__text {
                        position: absolute;
                        left: 0;
                        top: 90%;
                        font-size: 6px;
                        line-height: 116.666667%; /* 7/6 */
                        background-color: #fff;
                        box-shadow: 0px 4px 11px 0px rgba(196, 174, 151, 0.20);
                        padding: 10px 30px 9px 6px;
                        visibility: hidden;
                        opacity: 0;
                        transform: translateY(-50%);
                        transition: .3s ease;
                    }
                    &:has(.content__input:checked) .content__text{
                        visibility: visible;
                        opacity: 1;
                        transform: translateY(0);
                    }
                    &__label{
                        position: absolute;
                        width: 7px;
                        height: 10px;
                        top: 50%;
                        right: 11px;
                        transform: translate(0%, -50%);
                        img{
                            position: absolute;
                            inset: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: transform .3s ease;
                        }
                        &:has(input:checked) img{
                            transform: rotateX(180deg);
                        }
                    }
                    &__input{
                        opacity: 0;
                        visibility: visible;
                    }
                }
            }
        }
    }

    // baner
    .baner {
        position: relative;
        height: 120px;
        &__container {
            position: relative;
            height: 100%;
        }
        &__image {
            position: absolute;
            inset: 0;
            .img {
                &__img {
                }
            }
        }
        .btn {
            position: absolute;
            width: 78px;
            height: 32px;
            right: 1%;
            top: 57%;
        }
    }
    // Form
    .form-section {
        &__container {
            background: #FFF;
            box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.30);
            padding: 30px 20px 20px;
        }
        &__first {
            width: 100%;
            .content {
                &__title {
                    padding: 0;
                    padding-bottom: 40px;
                }
                .form{
                    &__group{
                        margin: 0 0 30px 0;
                    }
                    &__field:not(:last-child){
                        margin: 0 0 17px 0;
                    }
                    &__field{
                        position: relative;
                        padding-block: 3px;
                        border-bottom: 1px solid $chorniy;
                        dt{
                            color: #B3B3B3;
                            font-size: 8px;
                            line-height: 112.5%; /* 9/8 */
                        }
                        dd{
                            width: 100%;
                            height: 18px;
                            font-size: 15px;
                            line-height: 113.333333%; /* 17/15 */
                            color: $chorniy;
                            input{
                                width: 100%;
                            }
                        }
                    }
                    .btn {
                        width: 85px;
                        height: 40px;
                        font-size: 8px;
                        line-height: 112.5%; /* 9/8 */
                    }
                }
            }
        }
    }

    .footer {
        padding-bottom: 50px;
        &__container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 50px;
        }
        &__img {
            width: 71px;
            height: 72px;
        }
        &__menu {
            position: relative;
            opacity: 1;
            visibility: visible;
            transform: translate(0);
            .menu {
                &__items {
                    display: flex;
                    flex-direction: column;
                    row-gap: 22px;
                    align-items: center;
                    color: #333;
                    font-size: 14px;
                    line-height: 114.285714%; /* 16/14 */
                    text-transform: uppercase;				
                }
            }
        }
        &__bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
            a {
                color: #333;
                font-size: 14px;
                line-height: 114.285714%; /* 16/14 */
            }
            a:hover{
                text-decoration: underline;
            }
        }
        &__social{
            display: flex;
            column-gap: 15px;
            justify-content: center;
            .img{
                height: 22px;
                aspect-ratio: 1;
            }
        }
    }
    .burger {
        &__box {
        }
    }
}
