
@media only screen and (min-width: 480px){
    [class*="__container"]{
        max-width: 480px;
    }
    .main {
		&__baner,
		section{
			margin: 0 0 50px 0;
		}
    }    
    .atmosphere {
        padding-block: 30px 0px;
        &__container{
            column-gap: 0;
        }
        &__first{
            flex: 1 0 199px;
            .content{
                &__text{
                    font-size: 8px;
                    line-height: 112.5%; /* 9/8 */
                    max-width: 167px;
                }
            }
        }
        &__second {
            flex: 1 0 309px;
            height: 309px;
        }
        & .img.img--360{
            display: none;
            height: 100%;
        }
        & .img.img--480{
            display: block;
        }
        & .img{
            height: 100%;
        }
        & .btn{
            width: 91px;
            height: 34px;
        }
    }
    .content {
        &__title:not(:last-child) {
            padding-bottom: 20px;
        }
    }
    .content.content--siry {
        .content__text{
            font-size: 10px;
        }
    }

    .about {
        padding-block: 50px;
        &__container {
            display: grid;
            grid-template: 1fr / 1fr 271px;
            column-gap: 25px;
            align-items: center;
        }
        &__first {
            padding-bottom: 18px;
        }
        &__second.about__second--candle {
        }
        &__second::after{
            
        }
        &__images{
            position: relative;
            display: flex;
            align-items: flex-end;
            column-gap: 5px;
            flex-wrap: nowrap;
            .img.img--03,
            .img.img--01{
                display: block;
                min-width: 80px;
                aspect-ratio: 1;
            }
            .img.img--02{
                display: block;
                min-width: 140px;
            }
        }
    }
    [class*="__second--candle"]{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $bєzh1;
        padding-bottom: 50px;
    }
    [class*="__second--candle"]::after{
        content: url(../img/icons/candle.png);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 24px;
        height: 33px;
        object-fit: cover;
        transform: translate(0%, 38%);
    }
    [class*="__second--candle-b"]::after{
        content: url(../img/icons/candle-b.png);
    }

    .goods {
            &__first {
                .content{
                    &__title{
                        padding-bottom: 15px;
                    }
                    &__text{
                        max-width: 300px;
                        font-size: 10px;
                        line-height: 110%; /* 11/10 */
                    }
                }
            }
            &__second {
                .cards {
                    row-gap: 30px;
                    column-gap: 22px;
                    &__item {
                        display: block;
                        .content{
                            margin: 0 0 19px 0;
                            &__price{
                                font-size: 12px;
                                line-height: 116.666667%; /* 14/12 */
                                margin: 0 0 7px 0;
                            }
                            &__title{
                                font-size: 12px;
                                line-height: 117%;
                                padding: 0 0 9px 0;
                            }
                            &__text{
                                max-width: 200px;
                                font-size: 8px;
                                line-height: 112.5%; /* 9/8 */
                                text-align: center;
                            }
                        }
                        .img{
                            height: 214px;
                            width: 189px;
                            margin: 0 auto;
                            margin: 0 0 8px;
                        }
                        .btn{
                            height: 35px;
                            width: 78px;
                            margin: 0 auto;
                            font-size: 8px;
                            line-height: 112.5%; /* 9/8 */
                        }
                    }
                }
            
            }
    }
    .stages {
            &__first {
                .content{
                    &__text{
                        font-size: 8px;
                        line-height: 112.5%; /* 9/8 */
                        max-width: 204px;
                    }
                }
            }
            &__second {
                .cards{
                    row-gap: 20px;
                    column-gap: 24px;
                    &__item{
                        flex: 0 0 200px;
                        .section{
                            column-gap: 20px;
                            &__second{
                                flex: 0 0 86px;
                            }
                        }
                        .section {
                                &__first {
                                    .content{
                                        padding: 0 0 10px 0;
                                        &__text{
                                            font-size: 8px;
                                            line-height: normal;
                                        }
                                    }
                                }
                        }
                    }
                }
            }
    }
    .number {
        font-size: 2x;
        line-height: normal;
        color: $bєzh;
    }
    .cources {
            &__first {
                .content{
                    &__text{
                        max-width: 300px;
                    }
                }
            }
            &__second {
                .cards {
                    row-gap: 34px;
                    flex-flow: row wrap;
                    &__item {
                        flex: 0 0 220px;
                        max-width: 220px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 25px;
                        align-items: center;
                        .content{
                            row-gap: 15px;
                            &__title{
                                padding: 0;
                                font-size: 12px;
                                line-height: 116.666667%; /* 14/12 */
                            }
                            &__text{
                            }
                        }
                        .img{
                            width: 195px;
                            height: 265px;
                            span{
                                font-size: 9px;
                                line-height: 110%; /* 11/10 */
                            }
                        }
                        .btn{
                            width: 115px;
                            height: 39px;
                            font-size: 12px;
                            line-height: 108.333333%; /* 13/12 */
                        }
                    }
                }
            }
    }
    .teachers {
        padding-block: 50px;
        &__first {
            .content{	
                &__text{
                    max-width: 300px;
                }
            }
        }
            &__second {
                width: 100%;
                .cards {
                    display: flex;
                    flex-flow: row wrap;
                    row-gap: 20px;
                    justify-content: space-around;
                    column-gap: 20px;
                    &__item {
                        .img{
                            width: 142px;
                            height: 155px;
                            .content{
                                width: 106px;
                                height: 49px;
                                top: 65%;
                                right: -50%;
                                &__title{
                                    font-size: 8px;
                                    line-height: normal;
                                }
                                &__text{
                                    font-size: 7px;
                                    font-weight: normal;

                                }
                            }
                        }
                    }
                }
            }
    }
    .content--dark {
    }
    .testimonials {
        &__container {
        }
        &__first {
            .content{
                &__text{
                    max-width: 300px;
                }
            }
        }
        &__second {
            .slider {
                --slide-width: 460px;
                &__window{
                    width: 100%;
                }
                &__slide {
                    row-gap: 20px;
                    flex: 0 0 var(--slide-width);
                    .content {
                        align-items: center;
                        gap: 10px;
                        flex-flow: row nowrap;
                        &__box{
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;
                            align-items: center;                            
                        }
                        .img {
                            flex: 0 0 200px;
                            aspect-ratio: 1;
                        }
                        >.img::after{
                            content: url(../img/icons/video.svg);
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);							width: 50px;
                            aspect-ratio: 1;
                        }
                        &__social .img{
                            width: 15px;
                        }
                        &__title {
                            padding: 0;
                            width: 100%;
                            text-align: left;
                        }
                        &__text {
                            text-align: left;
                        }
                    }
                }
            }
            .social--instagramm {
            }
            .btn {
                width: 124px;
                height: 39px;
                    &__text {
                    }
            }
        }
    }

    // Slider
    $slides-count: 12;
    .slider {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        &__window{
            max-width: 1000px;
            overflow: hidden;
            margin: 0 auto;
        }
        &__slides {
            display: flex;
            flex-flow: row nowrap;
            transition: transform 0.5s ease-in-out;
        }
        &__slide {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__button{
            width: 31px;
            height: 10px;
        }
    }

    .certificates {
            &__container {
            }
            &__first {
                .content{
                    &__text{
                        max-width: 194px;
                    }
                }
            }
            &__second {
                .slider{
                    --slide-width: 420px;
                    &__window{
                        width: var(--slide-width);
                    }
                    &__slides{
                        column-gap: 10px;
                    }
                    &__slide{
                        flex: 0 0 200px;
                        aspect-ratio: 200 / 128;
                        .img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
    }
    .questions {
        &__container {
        }
        &__first {
        }
        &__second {
            width: 100%;
            .list {
                &__item {
                    width: 100%;
                    height: 40px;
                }
                .content {
                    &__title {
                        font-size: 12px;
                        line-height: normal;
                    }
                    &__text {
                        top: 90%;
                        font-size: 10px;
                        line-height: 116.666667%; /* 7/6 */
                    }
                }
            }
        }
    }

    // baner
    .baner {
        position: relative;
        height: 120px;
        &__container {
            position: relative;
            height: 100%;
        }
        &__image {
            position: absolute;
            inset: 0;
            .img {
                &__img {
                }
            }
        }
        .btn {
            position: absolute;
            width: 78px;
            height: 32px;
            right: 1%;
            top: 57%;
        }
    }
    // Form
    .form-section {
        &__container {
            background: #FFF;
            box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.30);
            padding: 30px 20px 20px;
        }
        &__first {
            width: 100%;
            .content {
                &__title {
                    padding: 0;
                    padding-bottom: 40px;
                }
                .form{
                    &__group{
                        margin: 0 0 30px 0;
                    }
                    &__field:not(:last-child){
                        margin: 0 0 17px 0;
                    }
                    &__field{
                        position: relative;
                        padding-block: 3px;
                        border-bottom: 1px solid $chorniy;
                        dt{
                            color: #B3B3B3;
                            font-size: 8px;
                            line-height: 112.5%; /* 9/8 */
                        }
                        dd{
                            width: 100%;
                            height: 18px;
                            font-size: 15px;
                            line-height: 113.333333%; /* 17/15 */
                            color: $chorniy;
                            input{
                                width: 100%;
                            }
                        }
                    }
                    .btn {
                        width: 85px;
                        height: 40px;
                        font-size: 8px;
                        line-height: 112.5%; /* 9/8 */
                    }
                }
            }
        }
    }

    .footer {
        padding-bottom: 50px;
        &__container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 50px;
        }
        &__img {
            width: 71px;
            height: 72px;
        }
        &__menu {
            position: relative;
            opacity: 1;
            visibility: visible;
            transform: translate(0);
            .menu {
                &__items {
                    display: flex;
                    flex-direction: column;
                    row-gap: 22px;
                    align-items: center;
                    color: #333;
                    font-size: 14px;
                    line-height: 114.285714%; /* 16/14 */
                    text-transform: uppercase;				
                }
            }
        }
        &__bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
            a {
                color: #333;
                font-size: 14px;
                line-height: 114.285714%; /* 16/14 */
            }
            a:hover{
                text-decoration: underline;
            }
        }
        &__social{
            display: flex;
            column-gap: 15px;
            justify-content: center;
            .img{
                height: 22px;
                aspect-ratio: 1;
            }
        }
    }
    .burger {
        &__box {
        }
    }
}
