/* Slider vars */
// $slide-width: 768px;
// $slide-height: 370px;
// $slider-scroll-time: 1s;

@mixin slider($slide-width, $slide-height, $slider-scroll-time){

    .slider:has(.slider__nav--01:checked) {
        transform: translateX(0px);
        transition: transform $slider-scroll-time;
    }
    .slider:has(.slider__nav--01:checked)  .slider__navs{
        transform: translateX(0px);
        transition: transform $slider-scroll-time;
    }
    .slider:has(.slider__nav--02:checked) {
        transform: translateX(-$slide-width);
        transition: transform $slider-scroll-time;
    }
    .slider:has(.slider__nav--02:checked)  .slider__navs{
        transform: translateX($slide-width);
        transition: transform $slider-scroll-time;
    }
    .slider:has(.slider__nav--03:checked) {
        transform: translateX(-$slide-width*2);
        transition: transform $slider-scroll-time;
    }
    .slider:has(.slider__nav--03:checked)  .slider__navs{
        transform: translateX($slide-width*2);
        transition: transform $slider-scroll-time;
    }
    .slider:has(.slider__nav--04:checked) {
        transform: translateX(-$slide-width*3);
        transition: transform $slider-scroll-time;
    }
    .slider:has(.slider__nav--04:checked)  .slider__navs{
        transform: translateX($slide-width*3);
        transition: transform $slider-scroll-time;
    }
    .slider{
        position: relative;
        height: $slide-height;
        display: grid;
        grid-template: 1fr / repeat(4, $slide-width);
    }
    .slide{
        width: $slide-width;
    }
}
    
    /* Sider navigator vars*/
//     $slider-nav-cont-width: 236px;
//     $slider-nav-cont-height: 30px;
//     $slider-nav-width: 53px;
//     $height: 4px;
// $left: 266px;
// $bottom: -77px;

@mixin slide_nav($cont-width, $cont-height, $width, $height, $left, $bottom){

        .slider__navs {
            display: flex;
            justify-content: space-between;
            width: $cont-width;
            margin: 0 auto;
            position: absolute;
            bottom: $bottom;
            left: $left;
            .slider__nav {
                width: $width;
                height: $cont-height;
                position: relative;
                .slider__nav-r{
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    position: relative;
                    opacity: 0;
                    z-index: 2;
                }
                .slider__nav-r:checked + span{
                background: #7B6152;
            }
            span{
                position: absolute;
                left: 0;
                top: 10%;
                height: $height;
                width: 100%;
                background: #BEA495;
                display: block;
                z-index: 1;
                cursor: pointer;
            }
        }
    }
}
