$bєzh: #bea495;
$zhovtiy: #ffbd59;
$sіriy: #fafafa;
$bєzh1: #7b6152;
$bєzh2: #a5978e;
$rozoviy: #fff8f3;
$chorniy: #000;
@import "_nullstyle";
@import "_fonts";
$font-family: "Comfortaa", sans-serif;
$second-family: "Yeseva One", sans-serif;
@import "_burger";

body{
	font-family: $font-family;
	background-color: $rozoviy;
	color: $chorniy;
	font-size: 10px;
	line-height: 110%; /* 11/10 */
}
// a{color: inherit;}
[class*="__container"]{
	max-width: 360px;
	padding-inline: 10px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 30px;
}
.atmosphere,
.about{
	&__container{
		flex-direction: row;
	}
}
.btn{
	background: $zhovtiy;
	font-weight: 600;
	color: $chorniy;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn:hover{
	background: $bєzh1;
	color: #fff;
}

.burger {
    position: relative;
	&.active{
		position: absolute;
		top: 13%;
		right: 2%;
		width: 7%;		
	}
    span {
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        background-color: $bєzh1;
        // transition: transform .5s ease
		// , opacity .5s ease
		// , background-color .5s ease
		// ;
        transition: .5s ease;
        @include place-elements(25px, 5); 
		z-index: 99;
    }
}
.burger.active {
	span {
		background-color: $bєzh2;
		@include replace-elements(25px, 5);
		height: 3px;
    }
}

.wrapper {}

.header {
	&__container {
		position: relative;
		display: grid;
		grid-template: 1fr / 71px 1fr 30px;
		justify-content: space-between;
		align-items: center;
	}
	&__img{
		height: 72px;
	}
	&__menu{
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-50%, 50%);
		transition: transform .5s;
		z-index: 1;
		.menu{
			background-color: $bєzh1;
			padding: 25px 34px 43px 46px;
			opacity: 0;
			visibility: hidden;
			transform: rotateX(180deg);
			transition: transform 1s ease,
			opacity 1s ease;
			min-width: 153px;
		}
	}
	&__menu .active{
		opacity: 1;
		visibility: visible;
		transform: rotateX(0deg) translate(50%, -50%);
		&__items {
			line-height: 150%; /* 15px */
		}
	}
	&__burger{
		height: 25px;
	}
}
.img{
	position: relative;
}
.img img{
    position: absolute;
    left: 0;
    top: 0;
	right: 0;
	bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
	&__items{
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		color: $sіriy;
		font-family: Comfortaa;
		font-size: 10px;
		line-height: 150%; /* 15px */
		text-transform: uppercase;		
	}
	&__link:hover{
		text-decoration: underline;
	}
}
.menu__item {
}
.menu__link {
}
.link-box {
}

.link-box--tel{
	display: flex;
	column-gap: 5px;
	justify-content: center;
}
.link-box--tel:hover{
	text-decoration: underline;
}
.link-box--tel a::before{
	content: '';
	background: url(../img/icons/phone.png) no-repeat center/cover;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-inline-end: 5px;
	transition: transform .5s;
}
.link-box--tel:hover  a::before{
	transform: rotate(45deg);
}

.atmosphere {
	padding-block: 34px 22px;
	min-height: 206px;
	&__container {
	}
	&__first{
		flex: 1 0 203px;
	}
	&__first>*:not(:last-child){
		margin-bottom: 15px;
	}
	&__second {
		flex: 1 0 162px;
		height: 206px;
	}
	& .img{
		display: none;
		height: 100%;
	}
	& .img.img--360{
		display: block;
		img{
			top: -8%;
			left: -9%
		}
	}
	& .btn{
		width: 91px;
		height: 34px;
	}
}
.atmosphere .content,
.about .content{
	&__text{
		text-align: left;
	}
}
.content {
	display: flex;
	flex-direction: column;
	&__title {
		font-family: "Yeseva One";
		color: $chorniy;
		font-size: 15px;
		line-height: 113.333333%; /* 17/15 */
		text-align: center;
	}
	&__title:not(:last-child) {
		padding-bottom: 10px;
	}
	.content__title.content__title--h1 {
		font-size: 18px;
		line-height: 116.666667%; /* 21/18 */
		padding-bottom: 15px;
		text-align: left;
	}
	&__text{
		text-align: center;
	}
	&__text:not(:last-child) {
		margin-bottom: 1rem;
	}
	&__price {
		display: block;
		color: $chorniy;
		font-family: "Yeseva One";
		line-height: 120%;
		text-align: center;
	}

}
.content.content--siry {
	.content__title{
		color: $sіriy;
		text-align: left;
	}
	.content__text{
		font-size: 8px;
	}
}

.about {
	background: $bєzh2;
	padding-block: 26px 21px;
	color: $sіriy;
	&__container {
		display: grid;
		grid-template: 1fr / 1fr 80px;
		column-gap: 25px;
		align-items: center;
	}
	&__first {
		padding-bottom: 18px;
		.content{
			&__text{
				color: #FAFAFA;
				font-size: 8px;
				line-height: normal;
				&:not(:last-child){
					margin-bottom: 8px;
				}
			}

		}
	}
	&__second.about__second--candle{
		padding-bottom: 20%;
		.img{
			display: none;
			width: 100%;
			aspect-ratio: 1;
		}
		.img.img--01{
			min-width: 80px;
			display: block;
		}
	
	}
	&__second::after{
		
	}
}
[class*="__second--candle"]{
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $bєzh1;
	padding-bottom: 50px;
}
[class*="__second--candle"]::after{
	content: url(../img/icons/candle.png);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 24px;
	height: 33px;
	object-fit: cover;
	transform: translate(0%, 38%);
}
[class*="__second--candle-b"]::after{
	content: url(../img/icons/candle-b.png);
}

.goods {
	padding-block: 50px;
		&__container {
		}
		&__first {
			.content{
				&__text{
					max-width: 235px;
					font-size: 8px;
					line-height: 112.5%; /* 9/8 */
				}
			}
		}
		&__second {
			.cards {
				display: grid;
				grid-template: 1fr / repeat(2, 1fr);
				row-gap: 40px;
				justify-content: space-between;
				margin: 0 auto;
				&__item {
					display: grid;
					grid-template: 177px 1fr 30px / 1fr;
					row-gap: 8px;
					align-items: center;
					.content{
						&__price{
							margin: 0 0 5px 0;
						}
						&__title{
							font-size: 10px;
							line-height: 120%; /* 12/10 */
						}
						&__text{
							max-width: 150px;
							font-size: 6px;
							line-height: 116.666667%; /* 7/6 */
						}
					}
					.img{
						height: 100%;
						width: 142px;
						margin: 0 auto;
					}
					.btn{
						height: 100%;
						width: 78px;
						margin: 0 auto;
						font-size: 8px;
						line-height: 112.5%; /* 9/8 */
					}
				}
			}
		
		}
}
.cards {
	&__item {
		.content{
			&__price{
			}
			&__title{
			}
			&__text{
			}
		}
		.img{
		}
		.btn{
		}
	}
}
.stages {
		&__container {
		}
		&__first {
			.content{
				&__text{
					font-size: 8px;
					line-height: 112.5%; /* 9/8 */
					max-width: 204px;
				}
			}
		}
		&__second {
			.cards{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				row-gap: 20px;
				column-gap: 24px;
				&__item{
					flex: 0 0 155px;
					display: flex;
					.section{
						display: flex;
						column-gap: 18px;
						&__first{
							display: flex;
							flex-direction: column;
							justify-content: space-between;
						}
						&__second{
							flex: 0 0 66px;
							height: 100px;
							.img{
								width: 100%;
								height: 100%;
							}
						}
					}
					.section {
							&__first {
								.content{
									padding: 0 0 10px 0;
									&__text{
										font-size: 6px;
										line-height: 116.666667%; /* 7/6 */
										text-align: left;
									}
								}
							}
							&__second {
							}
					}
				}
				&__item:nth-child(4n+3) .section,
				&__item:nth-child(4n+4) .section
				{
					flex-direction: row-reverse;
					.number{
						text-align: right;
					}
				}
			}
		}
}
.number {
	font-family: $second-family;
	font-size: 12px;
	line-height: 116.666667%; /* 14/12 */
	color: $bєzh;
}
.cources {
	padding-block: 59px;
		&__container {
		}
		&__first {
			.content{
				&__text{
					max-width: 205px;
				}
			}
		}
		&__second {
			.cards {
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				row-gap: 34px;
				&__item {
					max-width: 255px;
					display: flex;
					flex-direction: column;
					row-gap: 25px;
					align-items: center;
					.content{
						row-gap: 15px;
						&__title{
							padding: 0;
							font-size: 12px;
							line-height: 116.666667%; /* 14/12 */
						}
						&__text{
						}
					}
					.img{
						height: 345px;
						width: 255px;
						span{
							font-family: $second-family;
							position: absolute;
							background: $bєzh;
							color: #fff;
							font-size: 10px;
							line-height: 110%; /* 11/10 */
							display: flex;
							justify-content: center;
							align-items: center;
						}
						span:nth-child(2){
							top: 45.355191%; /* 166/366 */
							left: 0;
							height: 11.748634%; /* 43/366 */
							width: 71.268657%; /* 191/268 */
						}
						span:nth-child(3){
							top: 61.202186%; /* 224/366 */
							left: 0;
							height: 7.377049%; /* 27/366 */
							width: 48.134328%; /* 129/268 */
						}
						span:nth-child(4){
							bottom: -3.551913%; /* -13/366 */
							right: -5.223881%; /* -14/268 */
							height: 13.661202%; /* 50/366 */
							width: 32.089552%; /* 86/268 */
						}
					}
					.btn{
						width: 115px;
						height: 39px;
						font-size: 12px;
						line-height: 108.333333%; /* 13/12 */
					}
				}
			}
		}
}
.teachers {
	background: $bєzh2;
	padding-block: 50px;
	&__container {
	}
	&__first {
		.content{	
			color: $sіriy;
			&__title{
				color: $sіriy;
			}
			&__text{
				max-width: 200px;
			}
		}
	}
		&__second {
			width: 100%;
			.cards {
				display: flex;
				flex-direction: column;
				row-gap: 20px;
				align-items: flex-start;
				&__item {
					.img{
						width: 204px;
						height: 220px;
						.content{
							display: flex;
							justify-content: center;
							align-items: center;
							position: absolute;
							top: 64.545455%; /* 142/220 */
							right: -27.45098%; /* 56/204 */
							height: 31.818182%; /* 70/220 */
							width: 74.509804%; /* 152/204 */
							background: $bєzh1;
							&__title{
								color: $sіriy;
								padding: 0;
								font-size: 11px;
								line-height: 145.454545%; /* 16/11 */
							}
							&__text{
								color: $sіriy;

							}
						}
					}
				}
			}
		}
}
.content--dark {
}
.testimonials {
	padding-block: 59px;
	&__container {
	}
	&__first {
		.content{
			&__text{
				max-width: 300px;
			}
		}
	}
	&__second {
		.slider {
			--slide-width: 250px;
			&__window{
				width: var(--slide-width);
			}
			&__slide {
				row-gap: 20px;
				flex: 0 0 var(--slide-width);
				.content {
					align-items: center;
					row-gap: 10px;
					.img {
						width: 100%;
						aspect-ratio: 1;
					}
					>.img::after{
						content: url(../img/icons/video.svg);
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);							width: 50px;
						aspect-ratio: 1;
					}
					&__social .img{
						width: 15px;
					}
					&__title {
						padding: 0;
					}
					&__text {
					}
				}
			}
			&__nav {
				max-width: 125px;
				margin: 0 auto;
			}
			&__button{
				width: 31px;
			}
		}
		.social {
		}
		.social--instagramm {
		}
		.btn {
			width: 124px;
			height: 39px;
				&__text {
				}
		}
	}
}

// Slider
$slides-count: 12;
.slider {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
	&__window{
		max-width: 1000px;
		overflow: hidden;
		margin: 0 auto;
	}
	&__slides {
		display: flex;
		flex-flow: row nowrap;
		transition: transform 0.5s ease-in-out;
	}
	&__slide {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&__nav {
		display: flex;
		flex-flow: row nowrap;
		column-gap: 3px;
		margin: 0 auto;
	}
	&__button{
		width: 31px;
		height: 10px;
		background-color: transparent;
		border-top: 4px $bєzh solid;
		cursor: pointer;
		input{
			opacity: 0;
			visibility: visible;
		}
	}
	&__button:has(input:checked){
		border-top: 4px $bєzh1 solid;
	}
	@for $i from 1 through $slides-count {
		&:has(.slider__button:nth-child(#{$i}) input:checked) .slider__slides{
			transform: translateX(calc( var(--slide-width) * (-#{$i} + 1)));
		}
	}	
}


.social{
	content: '';
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	transition: transform .3s;
	&.social--instagramm {
		content: url(../img/icons/instagramm.svg);
	}
	&.social--faceboock {
		content: url(../img/icons/faceboock.svg);
	}
	&.social--linkedin {
		content: url(../img/icons/linkedin.svg);
	}
	&.social--youtube {
		content: url(../img/icons/youtube.svg);
	}
	&:hover{
		transform: scale(1.2) rotate(-15deg);
	}
}

.certificates {
		&__container {
		}
		&__first {
			.content{
				&__text{
					max-width: 194px;
				}
			}
		}
		&__second {
			.slider{
				--slide-width: 200px;
				&__window{
					width: var(--slide-width);
				}
				&__slide{
					flex: 0 0 var(--slide-width);
					height: 128px;
					.img{
						width: 100%;
						height: 100%;
					}
				}
			}
		}
}
.questions {
	padding-block: 63px 50px;
	&__container {
	}
	&__first {
	}
	&__second {
		.list {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
			flex-direction: column-reverse;
			&__item {
				position: relative;
				background-color: #fff;
				box-shadow: 0px 4px 11px 0px rgba(196, 174, 151, 0.20);
				width: 340px;
				height: 30px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding-inline: 6px 30px;
			}
			.content {
				&__title {
					width: 100%;
					height: 100%;
					color: $chorniy;
					font-size: 10px;
					line-height: 120%; /* 12/10 */
					text-align: left;
					padding: 0;
				}
				&__text {
					position: absolute;
					left: 0;
					top: 90%;
					font-size: 6px;
					line-height: 116.666667%; /* 7/6 */
					background-color: #fff;
					box-shadow: 0px 4px 11px 0px rgba(196, 174, 151, 0.20);
					padding: 10px 30px 9px 6px;
					visibility: hidden;
					opacity: 0;
					transform: translateY(-50%);
					transition: .3s ease;
				}
				&:has(.content__input:checked) .content__text{
					visibility: visible;
					opacity: 1;
					transform: translateY(0);
				}
				&__label{
					position: absolute;
					width: 7px;
					height: 10px;
					top: 50%;
					right: 11px;
					transform: translate(0%, -50%);
					img{
						position: absolute;
						inset: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: transform .3s ease;
					}
					&:has(input:checked) img{
						transform: rotateX(180deg);
					}
				}
				&__input{
					opacity: 0;
					visibility: visible;
				}
			}
		}
	}
}

// baner
.baner {
	position: relative;
	height: 120px;
	&__container {
		position: relative;
		height: 100%;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
	}
	.content{
		&__title{
			color: #FFF;
			max-width: 210px;
			text-align: left;
		}
	}
	&__image {
		position: absolute;
		inset: 0;
		z-index: -1;
		.img {
			&__img {
			}
		}
	}
	.btn {
		position: absolute;
		width: 78px;
		height: 32px;
		right: 1%;
		top: 57%;
	}
}
// Form
.form-section {
	padding-block: 50px;
	&__container {
	}
	&__second{
		display: none;
	}
	&__first {
		background: #FFF;
		box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.30);
		padding: 30px 20px 20px;
		width: 100%;
		.content {
			&__title {
				padding: 0;
				padding-bottom: 40px;
			}
			.form{
				&__group{
					margin: 0 0 30px 0;
				}
				&__field:not(:last-child){
					margin: 0 0 17px 0;
				}
				&__field{
					position: relative;
					padding-block: 3px;
					border-bottom: 1px solid $chorniy;
					dt{
						color: #B3B3B3;
						font-size: 8px;
						line-height: 112.5%; /* 9/8 */
					}
					dd{
						width: 100%;
						height: 18px;
						font-size: 15px;
						line-height: 113.333333%; /* 17/15 */
						color: $chorniy;
						input{
							width: 100%;
						}
					}
				}
				.btn {
					width: 85px;
					height: 40px;
					font-size: 8px;
					line-height: 112.5%; /* 9/8 */
				}
			}
		}
	}
}

.footer {
	padding-bottom: 50px;
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 50px;
	}
	&__img {
		width: 71px;
		height: 72px;
	}
	&__menu {
		position: relative;
		opacity: 1;
		visibility: visible;
		transform: translate(0);
		.menu {
			&__items {
				display: flex;
				flex-direction: column;
				row-gap: 22px;
				align-items: center;
				color: #333;
				font-size: 14px;
				line-height: 114.285714%; /* 16/14 */
				text-transform: uppercase;				
			}
		}
	}
	&__bottom{
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 15px;
		a {
			color: #333;
			font-size: 14px;
			line-height: 114.285714%; /* 16/14 */
		}
		a:hover{
			text-decoration: underline;
		}
	}
	&__social{
		display: flex;
		column-gap: 15px;
		justify-content: center;
		.img{
			height: 22px;
			aspect-ratio: 1;
		}
	}
}
.img {
}
.menu__link {
}
.link-box {
}
.link-box--tel {
}
.burger {
	&__box {
	}
}

@import "_media";
