@import "_nullstyle";
@import "_slider";
@import "_snipets";
@import "_elements";


.header{
	height: 72px;
	margin: 0 0 10px 0;
} // --Heaadr
.main{
}// --Main
.footer{
	height: 567px;
} // --footer


@import "_media";