
.icon-laptop:before { content: '\e800'; } /* '' */
.icon-linked-in:before { content: '\e801'; } /* '' */
.icon-pen:before { content: '\e802'; } /* '' */
.icon-sheet:before { content: '\e803'; } /* '' */
.icon-faceboock:before { content: '\e804'; } /* '' */
.icon-be:before { content: '\e805'; } /* '' */
.icon-gloub:before { content: '\e806'; } /* '' */
.icon-graf:before { content: '\e807'; } /* '' */
.icon-instagramm:before { content: '\e808'; } /* '' */
