
[class^="icon-"]{
    transition: all .5s;
}
span i[class^="icon-"]{
    transition: all 0s;
}
[class*="-btn"]:visited,
[class*="-btn"]{
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: var(--btn-padding-block);
    padding-inline: var(--btn-padding-inline);
    gap: var(--btn-gap);
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-height);
    font-weight: var(--btn-font-weight);
    border-radius: var(--btn-border-radius);
    background: $primary-500;
    border: 1px solid $primary-500;
    color: $gray-white;
    height: fit-content;
    width: fit-content;
}
[class*="-btn"]:hover{
    background: $gray-white;
    color: $primary-500;
}
[class*="i-btn"]:visited,
[class*="i-btn"]{
    background-color: $gray-white;
    color: $primary-500;
}
[class*="i-btn"]:hover{
    background-color: $primary-500;
    color: $gray-white;
}
[class*="-btn"] span{
    display: flex;
    column-gap: 8px;
    align-items: center;
}
[class*="-btn"] i{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
}

[class*="__img"]{
    position: relative;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
