/*
*/
$gray-white: #fff;
$gray-50: #f0f1f3;
$gray-100: #e6e8eb;
$gray-200: #c3c7ce;
$gray-300: #a5acb5;
$gray-400: #87909d;
$gray-500: #697484;
$gray-600: #556070;
$gray-700: #424e60;
$gray-800: #2b384c;
$gray-900: #132238;
$primary-100: #edd8ff;
$primary-200: #dbb1ff;
$primary-300: #c98bff;
$primary-400: #b764ff;
$primary-500: #a53dff;
$primary-600: #8431cc;
$primary-700: #632599;
$primary-800: #421866;
$primary-900: #210c33;

[class*="-btn"]{
    --btn-padding-block: 12px;
    --btn-padding-inline: 24px;
    --btn-gap: 12px;
    --btn-font-size: 16px;
    --btn-line-height: 1.5;
    --btn-font-weight: 600;  
    --btn-border-radius: 4px;
}
.header {
    --font-size: 16px;
    --font-weight: 600;
    --line-height: 150%; /* 24/16 */
    &__hwrapper{
        --width: 100%;
        --padding-block: 20px;
    }
    &__logo-box
    {
        --column-gap: 12px;
    }
    &__logo{
        --font-size: 24px;
        --line-height: 233.333333%; /* 56/24 */
        --font-weight: 500;
        --border-radius: 1000px;
        --width: 56px;
        --height: 56px;
    }
    &__logo-text{
        --font-size: 32px;
        --font-weight: 600;
        --line-height: 125%; /* 40/32 */
    }
    &__menu-item {
        --color: #333;
        --font-weight: 500;
    }
} // 
