@import "_nullstyle";
@import "_vars";
@import "_blocks";
@import "_fontello";

@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap);
html{
    font-size: 14px;
}
body{
    font-family: "Work Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 133.333333%; /* 24/18 */
}
.main{
    overflow: hidden;
}
[class*="_container"]{
    max-width: 1320px;
    margin: 0 auto;
    border-inline: 20px solid transparent;
    box-sizing: content-box;
}

.header {
    // margin-top: 20px;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    background-color: $gray-white;
    margin: 0 0 126px 0;
    &__hwrapper {
        width: var(--width);
        padding-block: var(--padding-block);
        display: flex;
        justify-content: space-between;
    }
    &__logo-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: var(--column-gap);
    }
    &__logo {
        font-size: var(--font-size);
        line-height: var(--line-height);
        font-weight: var(--font-weight);
        border-radius: var(--border-radius);
        width: var(--width);
        height: var(--height);
        border: $primary-500 1px solid;
    }
    &__logo-text {
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        line-height: var(--line-height);
    }
    &__menu {
        display: flex;
        justify-content: flex-end;
    }
    &__menu-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    &__menu-item {
        color: var(--color);
        font-weight: var(--font-weight);
        height: fit-content;
        background-color: $gray-white;
        border-color: $gray-white;
    }
    &__menu-item:hover {
        color: $gray-white;
        background-color: $primary-500;
        border-color: $primary-500;
    }
} // -- Header

.hello {
    margin: 0 0 222px 0;
    &__blur-pinky{
        --width: 871.213px;
        --height: 871.213px;
        --border-radius: 871.213px;
        --right: -182px;
        --top: -274px;

        width: var(--width);
        height: var(--height);
        transform: rotate(-130.444deg);
        border-radius: var(--border-radius);
        background: rgba(218, 77, 241, 0.40);
        filter: blur(300px);
        position: absolute;
        right: var(--right);
        top: var(--top);
        z-index: -1;
    }
    &__blur-greeny{
        --width: 1044.316px;
        --height: 1044.316px;
        --border-radius: 1044.316px;
        --right:-205px;
        --bottom:-590px;

        width: var(--width);
        height: var(--height);
        transform: rotate(-130.444deg);
        border-radius: var(--border-radius);
        background: rgba(196, 245, 233, 0.70);
        filter: blur(300px);
        position: absolute;
        right: var(--right);
        bottom: var(--bottom);
        z-index: -2;
    }
    &__wrapper {
        display: flex;
        column-gap: 136px;
        // flex-wrap: wrap;
    }
    &__left {
        padding: 52px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__text-box {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        margin: 0 0 24px 0;
    }
    &__title {
        color: $gray-900;
        font-size: 72px;
        font-weight: 600;
        line-height: 116.666667%; /* 84px/72 */
    }
    &__content {
    }
    &__underline{
        position: relative;
    }
    &__underline::after{
        position: absolute;
        content: "";
        width: 100%;
        height: .42857143rem;
        background-color: #FFC8C8;
        bottom: .21428571rem; /* 3/14 */
        left: 0;
        z-index: -1;
    }
    &__buttons {
    }
    &__buttons-btn {
    }
    &__achievements {
        --border-radius: 6px;
        border-radius: var(--border-radius);
        overflow: hidden;        
    }
    &__achievements-wrap {
        --margin-inline: -12px;
        margin-inline: var(--margin-inline);
        display: flex;
        justify-content: flex-start;
        column-gap: 1px;        
    }
    &__achievement {
        --background: rgba(237, 216, 255, 0.50);
        --width: 33.33%;
        --padding: 17px 12px;
        --row-gap: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: var(--background);
        width: var(--width);
        padding: var(--padding);
        row-gap: var(--row-gap);
    }
    &__achievement span:first-child{
        --font-size: 32px;
        --font-weight: 600;
        --line-height: 125%; /* 40/32 */
        --color: #424E60;
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        line-height: var(--line-height);
        color: var(--color);
    }
    &__achievement span:last-child{
        --font-size: 16px;
        --line-height: 150%; /* 24/16 */
        --color: #697484;
        font-size: var(--font-size);
        line-height: var(--line-heigh);
        color: var(--color);
    }

    &__right {
        flex: 1 0 40.606061%; /* 536/1320 */
    }
    &__img {
        height: 636px;
    }
} // --Hello
.profile {
    position: relative;
    margin: 0 0 -284px 0;
    &__blur-yellow{
        --bottom: 0;
        --left: 0;
        --width: 541px;
        --height: 226px;
        --transform: rotate(-30deg);
        --border-radius: 541px;

        position: absolute;
        bottom: var(--bottom);
        left: var(--left);
        width: var(--width);
        height: var(--height);
        transform: var(profile__blur-yellow--transform);
        border-radius: var(--border-radius);
        background: linear-gradient(182deg, #FFDFA8 -157.44%, rgba(255, 226, 176, 0.96) -157.4%, rgba(255, 234, 198, 0.67) 216.94%, rgba(250, 211, 144, 0.80) 216.94%);
        filter: blur(100px);
        z-index: -1;
    }
    &__wrapper {
        display: flex;
        column-gap: 136px;
        padding: 112px 112px 148px;
        border-radius: 16px;
        background: $gray-white;
        box-shadow: 0px 36px 105px 0px rgba(43, 56, 76, 0.10);        
    }
    &__left {
        flex: 0 0 424px;
    }
    &__socials{ // TODO доробити
        position: absolute;
        bottom: -36px;
        width: 100%;
    }
    &__socials-wrap{
        width: fit-content;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 12px;
        border-radius: 4px;
        background: $gray-white;
        box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);        
        z-index: 2;
        a{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 4px;
            background: $gray-white;            
            color: $primary-500;
        }
        a:hover{
            color: $gray-white;
            background: $primary-500;
            box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);            
        }
    }
    &__img {
        position: relative;
        height: 468px;
        z-index: 1;
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 70px;
    }
    &__text-box {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        margin: 0 0 32px 0;
    }
    &__title {
        color: $gray-900;
        font-size: 38px;
        font-weight: 600;
        line-height: 131.578947%; /* 50/38 */
    }
    &__content {}
    &__content p:not(:last-child) {
        padding-bottom: 16px;
    }
    &__buttons {
        display: flex;
        column-gap: 16px;
    }
    &__buttons {
    }
    &__project-btn {
    }
    &__download-btn i{
        width: 24px;
        height: 24px;
        font-size: 24px;
    }
} // --profile

.process {
        background: $gray-50;
        margin: 0 0 100px 0;
		&__container {
		}
		&__wrap {
            padding: 424px 0 140px;
            display: flex;
            column-gap: 143px;
		}
		&__left {
            flex: 0 0 529px;
            display: flex;
            flex-direction: column;
            justify-content: center;
		}
		&__text-box {
        }
		&__title {
            color: $gray-900;
            font-size: 48px;
            font-weight: 600;
            line-height: 116.666667%; /* 56/48 */
            margin: 0 0 24px 0;
		}
		&__content {
		}
		&__content p:not(:last-child){
            margin: 0 0 16px 0;
		}
		&__right {
		}
		&__boxes {
            display: flex;
            column-gap: 24px;
            flex-wrap: wrap;
		}
}
.box-01:nth-child(2n){
    margin: 24px 0 0;
}
.box-01 {
    flex: 0 0 312px;
    display: flex;
    row-gap: 32px;
    padding: 32px;
    flex-direction: column;
    border-radius: 12px;
    background: var(--Gray-White, #FFF);
    box-shadow: 32px 32px 124px 0px rgba(43, 56, 76, 0.10);
    margin-bottom: 24px;
    &__icon i{
        color: $primary-500;
        font-size: 32px;
        line-height: 100%;
    }
    &__icon {
        border-radius: 6px;
        background: rgba(237, 216, 255, 0.50);
        width: 72px;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon:hover{
        background: $primary-500;
    }
    &__icon:hover i{
        color: $gray-white;
    }
    &__content {
    }
    &__title {
        color: $gray-900;
        font-size: 20px;
        font-weight: 600;
        line-height: 120%;
        margin: 0 0 12px 0;
    }
    &__text {
        flex: 0 0 248px;
        color: $gray-600;
        font-size: 16px;
        line-height: 150%;
    }
}
// --process
//  [class*="i-btn"] span::before {
//     content: url(../img/icons/download-w.svg);
//     width: 24px;
//     height: 24px;
// }

.portfolio {
    margin: 0 0 95px 0;
    &__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 70px;
        margin: 0 0 50px 0;
    }
    &__top {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        justify-content: space-between;
        align-items: center;
        max-width: 577px;
    }
    &__title {
        color: $gray-900;
        font-size: 48px;
        font-weight: 600;
        line-height: 116.666667%; /* 56/48 */
    }
    &__subtitle {
        color: $gray-400;
        text-align: center;
        font-size: 18px;
        line-height: 133.333333%; /* 24/18 */
    }
    &__content {
        width: 100%;
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        gap: 24px;
        // grid-template-columns: repeat(auto-fill, 424x);
        grid-template-columns: repeat(auto-fill, minmax(424px, 1fr) ) ;
    }
    &__box {
        // margin: 0 0 50px 0;
    }
    &__bottom {
        display: flex;
        justify-content: center;
    }
    &__btn {
    }
    .i-btn i{
        width: 24px;
        height: 24px;
        font-size: 24px;
    }
} // --portfolio
.portfolio-box {
    max-width: 424px;
    display: flex;
    padding-bottom: 32px;
    flex-direction: column;
    gap: 32px;    
    border-radius: 8px;
    border: 1px $gray-100;
    background: $gray-white;
    box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
    &__img {
        min-height: 248px;
    }
    &__wrap {
        padding-inline: 32px;
    }
    &__subtitle {
        color: $gray-400;
        font-size: 12px;
        font-weight: 500;
        line-height: 133.333333%; /* 16/12 */
        margin: 0 0 4px 0;
    }
    &__title {
        color: $gray-900;
        font-size: 18px;
        font-weight: 600;
        line-height: 133.333333%; /* 24/18 */
        margin: 0 0 12px 0;
    }
    &__text { // TODO при збільшені контенту в цьому блоці - збільшувати одночасно в усіх картках
        color: $gray-700;
        font-size: 14px;
        line-height: 142.857143%; /* 20/14 */
        margin: 0 0 20px 0;
    }
    &__btn {
    }
}
.banner {
    background: $gray-900;
    padding-block: 100px;
    margin: 0 0 100px 0;
    &__container {
    }
    &__wrapper {
        max-width: 621px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 32px;
        text-align: center;
    }
    &__title {
        color: $gray-white;
        font-size: 48px;
        font-weight: 600;
        line-height: 116.666667%; /* 56/48 */
    }
    &__text {
        color: $gray-300;
        font-size: 18px;
        line-height: 133.333333%; /* 24/18 */
    }
    &__btn span{
        column-gap: 12px;

    }
    &__btn i{
        width: 24px;
        height: 24px;
        font-size: 24px;
    }
} // -- banner
