@import "_nullstyle";
@import "_vars";
@import "_blocks";

@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap);
.blur{
    width: 871.213px;
    height: 871.213px;
    transform: rotate(-130.444deg);
    border-radius: 871.213px;
    background: rgba(218, 77, 241, 0.40);
    filter: blur(250px);
    border: 1px solid black;
    position: absolute;
    left: -50px;
}

html{
    font-size: 14px;
}
body{
    font-family: "Work Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: var(--font-size);
    line-height: var(--line-height);
}
.main{
    overflow: hidden;
}
[class*="_container"]{
    max-width: 1320px;
    margin: 0 auto;
    border-inline: 20px solid transparent;
    box-sizing: content-box;
}
.header {
    // margin-top: 20px;
    font-size: var(--header--font-size);
    font-weight: var(--header--font-weight);
    line-height: var(--header--line-height);
    &__hwrapper {
        width: var(--header__wrapper--width);
        padding-block: var(--header__wrapper--padding-block);
        display: grid;
        grid-template: var(--header__wrapper--grid-template);
        align-items: start; 
    }
    &__logo-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: var(--header__logo-box--column-gap);
    }
    &__logo {
        font-size: var(--header__logo--font-size);
        line-height: var(--header__logo--line-height);
        font-weight: var(--header__logo--font-weight);
        border-radius: var(--header__logo--border-radius);
        width: var(--header__logo--width);
        height: var(--header__logo--height);
    }
    &__logo-text {
        color: $title-color;
        font-size: var(--header__logo-text--font-size);
        font-weight: var(--header__logo-text--font-weight);
        line-height: var(--header__logo-text--line-height);
    }
    &__menu {
        display: flex;
        justify-content: flex-end;
    }
    &__menu-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    &__menu-item {
        color: $nav-color;
        background-color: $white;
        border-color: $white;
    }
    &__menu-item:hover{
        background-color: $download-color;
        color: $white;
        border-color: $download-color;            
    }
    &__contact-btn {
    }
} // -- Header
.hello { //background: #FFC8C8; 6px
    padding-top: var(--hello--padding-top);
    margin: var(--hello--margin);
    position: relative;
    &__blur-pinky{
        width: var(--blur-pinky--width);
        height: var(--blur-pinky--height);
        transform: rotate(-130.444deg);
        border-radius: var(--blur-pinky--border-radius);
        background: rgba(218, 77, 241, 0.40);
        filter: blur(300px);
        position: absolute;
        right: var(--blur-pinky--right);
        top: var(--blur-pinky--top);
        z-index: -1;
    }
    &__blur-greeny{
        width: var(--blur-greeny--width);
        height: var(--blur-greeny--height);
        transform: rotate(-130.444deg);
        border-radius: var(--blur-greeny--border-radius);
        background: rgba(196, 245, 233, 0.70);
        filter: blur(300px);
        position: absolute;
        right: var(--blur-greeny--right);
        bottom: var(--blur-greeny--bottom);
        z-index: -2;
    }
    &__wrapper{
        //*   W R A P P E R  * /
        // --w-max-width: 1096px;
        // --w-column-gap: 136px;
        justify-content: space-between;
    }
    &__left {
        flex: var(--hello-left--flex);
        padding-top: var(--hello-left--padding-top);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 
    &__achievements {
        border-radius: var(--hello__achievements--border-radius);
        // border: var(--hello__achievement--border);
        overflow: hidden;
    }
    &__achievements-wrap{
        margin-inline: var(--hello__achievements-wrap--margin-inline);
        display: flex;
        justify-content: flex-start;
        column-gap: 1px;
    }
    &__achievement {
        // box-sizing: content-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: var(--hello__achievement--background);
        width: var(--hello__achievement--width);
        padding: var(--hello__achievement--padding);
        row-gap: var(--hello__achievement--row-gap);
    }
    &__achievement span:first-child{
        font-size: var(--hello__achievement-span-first-chil--font-size);
        font-weight: var(--hello__achievement-span-first-chil--font-weight);
        line-height: var(--hello__achievement-span-first-chil--line-height);
        color: var(--hello__achievement-span-first-chil--color);
    }
    &__achievement span:last-child{
        font-size: var(--hello__achievement-span-last-chil--font-size);
        line-height: var(--hello__achievement-span-last-chil--line-heigh);
        color: var(--hello__achievement-span-last-chil--color);
    }
    &__right {
        flex: var(--hello__right--flex);
        height: var(--hello__right--height);
        border-radius: var(--hello__right--border-radius);
        box-shadow: var(--hello__right--box-shadow);
    }

} // -- hello
.profile {
    // &__wrapper{
    //     --wrapper--padding-block: 112px;
    //     --wrapper--max-width: 1096px;
    //     --wrapper--column-gap: 136px;
    //     --wrapper--row-gap: 50px;   
    // }
    &__left {
        flex: var(--profile__left--flex);
        height: var(--profile__left--height);
    }
    &__right {
        flex: var(--profile__right--flex);
        margin-top: var(--profile__right--margin-top);
    }
    .text-box{
        justify-content: flex-start;
    }
    &__buttons {
        display: flex;
        gap: var(--profile__text-box--gap);
    }
    &__download-btn {
        color: $download-color;
        background-color: $white;
        border: 1px solid $download-color;
    }
    &__download-btn:visited {
        color: $download-color;
    }
    &__download-btn:hover{
        color: $white;
        background-color: $download-color;
    }
    &__download-btn span{
        display: flex;
        align-items: center;
        column-gap: var(--hello__download-btn-span--);
    }
    &__download-btn span::before{
        content: url(../img/icons/download-w.svg);
        width: var--hello__download-btn-span-before--width;
        height: var(--hello__download-btn-span-before--height);
    }
    &__download-btn:hover span::before{
        content: url(../img/icons/download.svg);
    }
} // -- profile
